server:
  port: 8089
 
spring:
  application:
    name: policy-service
 
  datasource:
    url: jdbc:mysql://localhost:3306/policyDB
    username: root
    password: Sahil@1402
 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
 
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
 
