spring:
  application:
    name: claims-service
  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:3306/claimDB
    username: root
    password: Sahil@1402
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
server:
  port: 8180

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true